body {
  background-color: rgb(82, 146, 69);
  font-family: 'Times New Roman', Times, serif ;
  }

.skiplinks{
  list-style: none;
  margin: 0;
  padding: 0;
  }

.skiplinks a{
  position: absolute;
  top: -4em;
  padding: .5em 1em;
  font-weight: bold;
  background-color: whitesmoke;
  color:black;
  }

.skiplinks a:focus{
  top: 0;
  }

header,footer, .hours, .copyright {
  color: whitesmoke;
  }

.logo {
  display: flex;
  float: left;
  border-style: solid;
  border-color: rgb(119, 90, 126);
  border-width: 3px;
  border-radius: 25px;
  font-size: 20px;
}

nav{
  border-style: solid;
  border-color: rgb(119, 90, 126);
  border-bottom-width: 2.5px; 
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

nav ,a {
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding-left: 15px;
  padding-right: 25px;
  }

nav li {
  list-style: none;
  display: inline-block;
}

header {
  display: flex;
  align-items:left;
  justify-content: space-between;
}

.hours {
  padding-top: 20px;
  font-size: 20px;
}
.weekdays{
  padding-top: 30px;
  padding-bottom: 30px;

}
footer{ 
  position:fixed;
  padding-top: 130px;
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 15px;
  }
  nav ,a {
    font-size: 20px;
  }
  .hours{
    font-size: 16px;
  }
}

@media screen and (min-width: 1300px) {
  .logo {
    font-size: 30px;
  }
  nav ,a {
    font-size: 40px;
  }
  .hours{
    font-size: 22px;
  }
}