body { /* this section makes the body of the website green and all the text the same */
  background-color: rgb(82, 146, 69);
  font-family: 'Times New Roman', Times, serif ;
  }

.skiplinks{
  list-style: none; /* removes any defult layout for the list of skiplinks */
  margin: 0;
  padding: 0;
  }

.skiplinks a{
  position: absolute; /* keeps the skiplinks in the same spot of the page */
  top: -4em; /* Keeps the skiplinks hidden from those who do not wish to see it */
  padding: .5em 1em;
  font-weight: bold; /* Makes the font strong and easy to read */
  background-color: whitesmoke;
  color:black;
  }

.skiplinks a:focus{ /* this section makes it so that when the tab button is hit the skip links appear*/
  top: 0;
  }

header,footer, .hours, .copyright, p { /* this section makes all my text white */
  color: whitesmoke;
  }

.logo { /* this section sets the logo into a position where id like it to be */
  display: flex;
  float: left;
  border-style: solid;
  border-color: rgb(119, 90, 126); /* all border elements are surrounding my logo, changing the border color, and curving the edges */
  border-width: 3px;
  border-radius: 25px;
  font-size: 20px;
}
.logo:active{ /* this section creats an initial animation time duration for when the logo is being pressed down on */
  animation-duration: 1.5s;
  animation-name: activelogo;
  animation-iteration-count: infinite;
}
@keyframes activelogo{ /* this section is the actual animation my logo preforms when pressed down on. It grows downward then swigs a little to the side the shrinks upwards */
  25%{
  transform: scale(1.3, 1.3) translate(0, 30px);
  }
  50%{
  transform: scale(1, 1) translate(-60px, 0px);
  }
  75%{
  transform: scale(0.5, 0.5) translate(0px,-10px);
  }
}
nav{ /* this section is based on adding a border alongside the bottom of my navigation section */
  border-style: solid;
  border-color: rgb(119, 90, 126);
  border-bottom-width: 2.5px; 
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

nav ,a {  /* changes color and size of my nav */
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 25px;
  }

nav li {  /* removes any defult layout for the list of navigation */
  list-style: none;
  display: inline-block;
}

header {  /* applies a flexbox to my header to space the items out */
  display: flex;
  justify-content: space-between;
}
.mid { /* applies flex to the middle of my website */
  display: flex;
}
.main {
  display: flex;
  justify-content: center;
}
.hours {
  padding-top: 20px;
  font-size: 20px;
  padding-left: 10px;
}
img{
  width: 260px;
  height: 150px;
  border-radius: 25px;
  border: 3px solid rgb(119, 90, 126);
  animation-duration: 1.4s;
  animation-name: jump;
  animation-iteration-count: infinite;
}
@keyframes jump{
  50% { 
   transform: translate(0, 15px);
 }
}
.info1, .info2, .info3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-top: 60px;
  width: 260px;
  font-size: 25px;
}
.weekdays{
  padding-top: 30px;
  padding-bottom: 30px;
}
footer{ 
  position:fixed;
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 15px;
  }
  nav ,a {
    font-size: 22px;
  }
  .hours{
    font-size: 16px;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  img{
    width: 200px;
    height: 130px;
    border-radius: 25px;
    border: 3px solid rgb(119, 90, 126);
  }
  .info1, .info2, .info3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-top: 20px;
    width: 200px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1300px) {
  .logo {
    font-size: 30px;
  }
  nav ,a {
    font-size: 40px;
  }
  .hours{
    font-size: 22px;
  }
  img{
    width: 300px;
    height: 160px;
    border-radius: 25px;
    border: 3px solid rgb(119, 90, 126);
  }
  .info1, .info2, .info3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    padding-top: 60px;
    width: 300px;
    font-size: 35px;
  }
}